*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    font-family: inherit;
}

@media only screen and (min-width: 768px) {
body {
    background-color:#e3dbda;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
}

body, html {
    height: 100vh;
    font-family: Helvetica;
}

button {
    cursor: pointer;
    border: 0px;
}

input[type=text] {
    background-color:  #3C412C;
    text-align: end;
    width: 100%;
    color: whitesmoke;
    border: 0px; 
    border-color: lightgrey; 
    border-style: solid;
    border-width: 1px;
    font-size: 4rem;
}

#main_1 {
    border: 2px;
    border-style: solid;
    border-color: red;
    border-radius: 55px;
    width: 100%;
    max-width: 300px;
    background-color:#921414;
    padding: 3rem 2rem;
}

.calculator_header{
    margin-top: 30px;
    padding: 20px;
}

.calculator_footer > * + * {
    margin-top: 1rem;
}

.calculator_footer > *:last-child {
    gap: 1rem;
}

.btn_numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55%;
    border-color: lightgrey; 
    border-style: solid;
    border-width: 1px;
    width: 55px;
    height: 55px;
    color: #ffffff;
    font-size: 22px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1)
}

.btn.btn-up{
    flex-grow: 0.95;
    border-radius: 30px;
}

.btn:hover {
   transform: translate(-2px, -3px);
}

.btn.active {
    background-color: #333333;
    color: #FFA008;
}

.btn-white {
    background-color:  #ffffff;
    color: #000;
}

.btn-white:hover {
    background-color: rgb(235, 227, 220);
}

.btn-dark-grey {
    background-color: #313132;
}

.btn-dark-grey:hover {
    background-color: #999999;
}

.btn-light-orange {
    background-color:  #e08c06;
}

.btn-light-orange:hover {
    background-color: orange;
}